<div class="footer">

    <mat-grid-list cols="12" rowHeight="150px">
        <mat-grid-tile [colspan]="4" [rowspan]="1">
                <button mat-button color="accent">About us</button>
                <button mat-button color="accent">e-mail: support@endavo.ca</button>
                <button mat-button color="accent">Privacy Policy </button>
                <button mat-button color="accent">Terms and Conditions</button>

        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1">
        </mat-grid-tile>
    </mat-grid-list>
</div>