
.no-exact-match{
    width: 70%;
    margin: auto;
    padding: 7px;
}
.word-card{
    background-color: #D1C4E9;
    border: 1px solid rgba(0,0,0,.125);
    width: 70%;
    margin: auto;
    padding: 7px;
}

.word-header{
vertical-align: middle
}

    .word-header-text{
        margin-top: 8pt;
        vertical-align: middle
    }
