<!-- *******************
  This piece of code is for getting the search result from the child component to be forwarded to another child component
There is no need for this now, since it is done over the router framework 
************************-->
<!-- <app-header (searchResult) = "setSearchResult($event)"> -->
<!-- <app-search-result *ngIf="searchResult" [searchResult] = "searchResult"></app-search-result> 

Also in app.ts
 // searchResult:SearchResult[];

  // setSearchResult(data:SearchResult[]){
  //   this.searchResult=data;
  // }
Also in header component
 // @Output() searchResult = new EventEmitter<SearchResult[]>();
  // setSearchResult(data:SearchResult[]){
  //   this.searchResult=data;
  //   this.searchResultHeader.emit(this.searchResult);
  // }
-->
<div class="toolbar">
  <mat-toolbar color="secondary">

    <!-- menu button and navigation menu container below works together. That is why they are in app.component. 
  The rest of the header is populated in the Header component 
  The code is from angular material site-->
    <mat-toolbar-row class="toolbar-top-row" fxLayoutAlign="left center"> 
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="max-width">
      <app-header class="header" fxFill fxLayoutAlign="space-between center">
      </app-header>
    </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="toolbar-second-row" fxHide.gt-xs="true" fxFill fxLayoutAlign="center center" >
      <div class="second-row">
      <app-search fxFill fxLayoutAlign="center center">
      </app-search>
    </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="main-content-container" [class.is-mobile]="mobileQuery.matches">

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [mode]="mode" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/learn" (click)="sidenav.toggle()">Learn</a>
        <a mat-button routerLink="/idiomSearch" (click)="sidenav.toggle()">Idiom Search</a>
        <a mat-button routerLink="/lists" (click)="sidenav.toggle()">Lists</a>
        <a mat-button routerLink="/movieSearch" (click)="sidenav.toggle()">Movie Search</a>
        <a mat-button routerLink="/myAccount" (click)="sidenav.toggle()">My Account</a>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-alert></app-alert>
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<app-footer></app-footer>