  <img src="../../assets/lexibag-logo.png" alt="logo" class="responsive" routerLinkActive="active"
      routerLink="/home">

  <!-- This fills the remaining space of the current row -->
  <!-- <span class="header-middle"></span> -->

  <span class="header-links" routerLinkActive="active" routerLink="/learn" fxHide.lt-md="true">Learn</span>
  <span class="header-links" routerLinkActive="active" routerLink="/idiomSearch" fxHide.lt-md="true">Idiom Search</span>

  <span class="header-search" fxFlex="20%" fxHide.lt-sm="true">
    <app-search class="app-search"></app-search>
  </span>

  <span class="header-links" routerLinkActive="active" routerLink="/movieSearch" fxHide.lt-md="true">Movie Search</span>

  <span>
    <button mat-flat-button color="primary" [hidden]="authenticated() !=null" routerLinkActive="active"
      routerLink="/login">Login</button>
    <button mat-stroked-button color="primary" [hidden]="authenticated() !=null">Register</button>
  </span>

  <button mat-icon-button [matMenuTriggerFor]="menu" color="primary" [hidden]="authenticated() == null">
    <mat-icon class="icon">account_circle</mat-icon>
    &nbsp;&nbsp;&nbsp; {{(getUser() | async)?.fullname }}
  </button>
  <mat-menu #menu="matMenu" #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item routerLink="/profile">
      <mat-icon>badge</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item routerLink="/knownwords">
      <mat-icon>disabled_visible</mat-icon>
      <span>Known Words</span>
    </button>
    <button mat-menu-item routerLink="/favorites">
      <mat-icon>collections_bookmark</mat-icon>
      <span>Favorites</span>
    </button>
  </mat-menu>

